/* You can add global styles to this file, and also import other style files */
div.main {
  min-height: 100vh;
}

.progress {
  min-height: 30px;
}

div.margin {
  margin: 0 10%;
}

.center {
  text-align: center;
}
